<div class="container">
<div>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="promo">
                <h1 class="promo__title">Онлайн-сервис<br>доставки еды на дом</h1>
                <p class="promo__text">Блюда из любимого ресторана привезет<br>курьер в маске, перчатках и с антисептиком</p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="promo">
                <h1 class="promo__title">Онлайн-сервис<br>доставки еды на дом</h1>
                <p class="promo__text">Подпишитесь на нашу рассылку,<br>чтобы получать информацию о всех новых акциях!</p>
            </div>

        </ng-template>
    </owl-carousel-o>
</div>

    <section class="restaurants">
        <h2 class="restaurants__title">Рестораны</h2>
        <div class="restaurants__cards">
          <app-restaurant *ngFor="let iter of restaurantList" [rest]="iter"></app-restaurant>
        </div>
    </section>
</div>
